.table_container {
    padding: 18px;
    padding-right: 4px;
    padding-bottom: 4px;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: auto;
}

.table_top_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.table_workspace {
    max-height: calc(100% - 42px);
    overflow-y: auto;
    padding-right: 8px;
}

.data_table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.data_table th,
.data_table td {
    padding: 0.75rem 1rem;
    border: 1px solid #e2e8f0;
    text-align: left;
    font-size: 0.9rem;
    min-width: 100px;
}

.data_table th {
    background-color: #f8f9fa;
    font-weight: bold;
    color: #333;
}

.data_table tbody tr:hover {
    background-color: #f1f5f9;
}

.btn_table_filter {
    background-color: olive;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    color: #fff;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #525200;
    }
}

.filter_table_container {

    .filter_table_header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        border-bottom: 1px solid #e2e8f0;

        .filter_table_cell {
            padding: 8px;
            font-weight: bold;
            text-align: center;

            &.check {
                width: 40px;
            }

            &.property {
                width: 200px;
            }

            &.filter {
                width: 300px;
            }

            &.sort {
                width: 200px;


            }

            &.top {
                background-color: #f8f9fa;
                border-bottom: 1px solid #e2e8f0;
                height: 100%;
                height: 40px;
            }

            .sort_select {
                width: 100%;
                padding: 4px;
                border-radius: 4px;
                border: 1px solid #ccc;
            }
        }
    }

    .filter_table_body {
        max-height: calc(100vh - 500px);
        overflow-y: auto;
    }
}