.person_filters {
    display: flex;
    padding: 8px;
    gap: 16px;
    height: 52px;

    input {
        width: 400px;
        border: 2px solid darkolivegreen;

        &::placeholder {
            color: aliceblue;
        }
    }

    button {

        img {
            width: 24px;
            height: 24px;
        }
    }
}

.persons_list {
    height: calc(100vh - 52px);
    overflow: auto;
    padding: 0 8px 8px 8px;

    .list {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .person_item {
        display: flex;
        gap: 8px;
        padding: 8px;
        border: 2px solid #555;
        border-radius: 8px;
        padding: 16px;
        background-color: #fafafa;
        width: fit-content;

        .number {
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 40px;
            background-color: #cccccc;

        }

        .mark {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 60px;
        }

        .name {
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: start;
            width: 400px;
        }

        .actions {
            display: flex;
            gap: 4px;

            button {

                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}