.modal_content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: olive solid 2px;
    border-radius: 8px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 1);
    width: fit-content;
    max-width: 90%;
    text-align: center;

    .icon {
        width: 20px;
        height: 20px;
    }
}

.person_model_container {
    padding: 8px;

    .model_actions_bar {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
    }

    .properties_list {
        height: calc(100vh - 75px);
        overflow: auto;
        padding: 8px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-top: 16px;

        .category_group_block {
            display: flex;
            flex-direction: column;
            position: relative;
            border: 2px solid olive;
            border-radius: 8px;
            padding: 8px;
            padding-top: 16px;
            gap: 4px;

            h3 {
                position: absolute;
                top: -16px;
                left: 16px;
                background-color: #e0e0e0;
                padding: 0 4px;
            }

            .category_item {
                display: flex;
                gap: 8px;
                padding: 8px;
                border: 1px solid black;
                border-radius: 4px;
                width: fit-content;

                .order {
                    min-width: 40px;

                    code {
                        min-width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .name {
                    min-width: 250px;
                    font-weight: 600;
                }

                .id {
                    min-width: 150px;

                    code {
                        min-width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .type {
                    min-width: 70px;
                }

                .edit {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}