.modal_content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: olive solid 2px;
    border-radius: 8px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 1);
    width: fit-content;
    max-width: 90%;
    text-align: center;

    .icon {
        width: 20px;
        height: 20px;
    }
}

.person_model_container {
    padding: 8px;

    .model_actions_bar {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
    }

    .properties_list {
        height: calc(100vh - 75px);
        overflow: auto;
    }
}

.category_group_block {
    display: flex;
    flex-direction: column;

}